/* -------------------------------- *\
    #BUTTON
\* -------------------------------- */

.button {
  background-color: #eee;
  background-image: linear-gradient(#fff, #fcfcfc);
  border: 1px solid #d5d5d5;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 15px;
  transition: .25s;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background-color: #ddd;
  background-image: linear-gradient(#fcfcfc, #fafafa);
  border-color: #ccc;
}

.button--export {
  margin-top: 30px;
  padding: 5px;
}

.button--export > * {
  vertical-align: top;
}
