/* -------------------------------- *\
    #GENERAL
\* -------------------------------- */

header {
  font-family: 'Droid Serif', serif;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
  margin: 0 0 10px;
}

a.disabled {
  pointer-events: none;
}

a {
  text-decoration: none;
  color: inherit;
}





/* -------------------------------- *\
    #SECTIONS
\* -------------------------------- */

.section__builder {
  background: #fafafa;
  border-bottom: 1px solid #eaeaea;
}

.section__results {
  background: #fafafa;
  border-top: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}





/* -------------------------------- *\
    #TABLE
\* -------------------------------- */

table {
  background: #fff;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dfdfdf;
}

th {
  border-bottom: none;
}

tr {

}

tr:hover {
  background: #fafafa;
}

th,
td {
  padding: 5px 10px;
}

th:nth-child(1),
td:nth-child(1) {
  width: 100px;
}

th:nth-child(2),
td:nth-child(2) {
  width: 100px;
}

th:nth-child(3),
td:nth-child(3) {
  width: 180px;
}

th:nth-child(4),
td:nth-child(4) {
  width: 180px;
}

th:nth-child(5),
td:nth-child(5) {
  width: 180px;
}

td {
  font-size: 14px;
  white-space: normal;
  text-overflow: hidden;
}

#headers tr:hover {
  background: initial;
}





/* -------------------------------- *\
    #TOOLBAR
\* -------------------------------- */

.results__nav {
  position: relative;
  height: 37px;
}







/* -------------------------------- *\
    #TABBED ELEMENT
\* -------------------------------- */

.tabs {
  position: relative;
  margin-top: -35px;
  min-height: 400px;
  width: 100%;
}

.tab__panel {
  min-height: 400px;
  position: absolute;
  top: 40px;
  width: 100%;
}

.tab__link {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  padding: 5px;
  position: absolute;;
  text-align: center;
  top: -40px;
  width: 120px;
}

.tab__link > * {
  vertical-align: top;
}

.tab__icon {
  height: 20px;
  width: 20px;
}

.tab__name {
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px 0;
}

.tab__content {
  display: none;
  margin-top: 5px;
}

.tab__panel:nth-child(1) .tab__link {
  left: 0;
  z-index: 12;
}

.tab__panel:nth-child(2) .tab__link {
  left: 120px;
  z-index: 8;
}

.tab__panel:nth-child(3) .tab__link {
  left: 240px;
  z-index: 4;
}

.tab__panel--active {
    z-index: 16;
}

.tab__panel--active .tab__link {
  background: #fff;
  border-top: 3px solid #4078c0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding-top: 2px;
}

.tab__panel--active .tab__content {
  display: block;
}

/* Custom icons */
.tab__icon--table {
  margin-top: 2px;
  height: 23px;
  width: 22px;
}

.tab__icon--stats-bars {

}





/* -------------------------------- *\
    #PLACEHOLDER
\* -------------------------------- */

.placeholder {
    position: relative;
    padding: 30px;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
}

.placeholder__content {

}

.placeholder__content--empty {
  margin: 0 auto;
  padding: 75px 0;
  text-align: center;
  width: 300px;
}
