/* -------------------------------- *\
    #GENERAL
\* -------------------------------- */

header {
  font-family: 'Droid Serif', serif;
}

body {
    font-family: 'Lato', sans-serif;
}

p {
  margin: 0 0 10px;
}
.grid__row--alt {
  background: #fafafa;
}

.grid__row--distinct {
  border-bottom: 1px solid #eaeaea;
}

a.disabled {
  pointer-events: none;
}



/* -------------------------------- *\
    #TABLE
\* -------------------------------- */

table {
  background: #fff;
  margin: 0 auto;
}

th, td {
  border: 1px solid #dfdfdf;
}

th {
  border-bottom: none;
}

tr {

}

tr:hover {
  background: #fafafa;
}

th,
td {
  padding: 5px 10px;
  width: 180px;
}

td {
  font-size: 14px;
  white-space: normal;
  text-overflow: hidden;
}

#headers tr:hover {
  background: initial;
}


/* -------------------------------- *\
    #FORMS
\* -------------------------------- */

.form {
  margin: 10px 0;

}

.form__row > * {
  vertical-align: top;
}

.form__row {
  padding-bottom: 10px;
}

.form_section {
  display: block;

}

.form__section.form__section--two-col {
  display: inline-block;
  width: 49%;
}

.form__section.form__section--three-col {
  display: inline-block;
  width: 32%;
}

.form__section.form__section--four-col {
  display: inline-block;
  width: 25%;
}

.form__section.form__section--four-col:last-child {
  float: right;
  width: 23%;
}

.form__label {
  display: inline-block;
  min-width: 100px;
  width: 100%;
}

.input,
.select {
  background: transparent;
  border: 1px solid #d5d5d5;
  padding: 5px;
  font-size: 16px;
  line-height: 1;
  border-radius: 0;
  height: 34px;
  width: 100%;
  -webkit-appearance: none;
}

.select {
  background: url('../images/circle-down.png') no-repeat calc(100% - 3px) transparent;
  background-size: 18px 18px;
  padding-right: 24px;
}

.form__input {
  width: 100%;
}

.button {
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc, #eee);
  border: 1px solid #d5d5d5;
  cursor: pointer;
  display: inline-block;
  margin: 10px 0;
  padding: 5px 15px;
  transition: .25s;
  vertical-align: middle;
  white-space: nowrap;
}

.button:hover {
  background-color: #ddd;
  background-image: linear-gradient(#eee, #ddd);
  border-color: #ccc;
}

a.button {
  text-decoration: none;
  color: inherit;
}





/* -------------------------------- *\
    #TOOLBAR
\* -------------------------------- */

.results__nav {
  position: relative;
  height: 37px;
}

.results__export {
  cursor: pointer;
  margin-top: 2px;
  padding: 5px;
  position: absolute;
  right: 4px;
  top: 0;
  z-index: 100;
}

.results__export > * {
  vertical-align: top;
}

.export__icon {
  height: 20px;
  width: 20px;
}

.export__name {
  display: inline-block;
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}





/* -------------------------------- *\
    #TABBED ELEMENT
\* -------------------------------- */

.tabs {
  position: relative;
  margin-top: -35px;
  min-height: 400px;
  width: 100%;
}

.tab__panel {
  min-height: 400px;
  position: absolute;
  top: 40px;
  width: 100%;
}

.tab__link {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  cursor: pointer;
  display: inline-block;
  height: 35px;
  padding: 5px;
  position: absolute;;
  text-align: center;
  top: -40px;
  width: 120px;
}

.tab__link > * {
  vertical-align: top;
}

.tab__icon {
  height: 20px;
  width: 20px;
}

.tab__name {
  display: inline-block;
  font-size: 16px;
  margin: 3px 3px 0;
}

.tab__content {
  display: none;
}

.tab__panel:nth-child(1) .tab__link {
  left: 0;
  z-index: 12;
}

.tab__panel:nth-child(2) .tab__link {
  left: 120px;
  z-index: 8;
}

.tab__panel:nth-child(3) .tab__link {
  left: 240px;
  z-index: 4;
}

.tab__panel--active {
    z-index: 16;
}

.tab__panel--active .tab__link {
  background: #fff;
  border-top: 3px solid #4078c0;
  border-left: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  padding-top: 2px;
}

.tab__panel--active .tab__content {
  display: block;
}

/* Custom icons */
.tab__icon--table {
  margin-top: 2px;
  height: 23px;
  width: 22px;
}

.tab__icon--stats-bars {

}





/* -------------------------------- *\
    #PLACEHOLDER
\* -------------------------------- */

.placeholder {
    position: relative;
    padding: 30px;
    background-color: #fafafa;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    /*box-shadow: inset 0 0 10px rgba(0,0,0,0.05);*/
}

.placeholder__content {

}

.placeholder__content--empty {
  margin: 0 auto;
  padding: 75px 0;
  text-align: center;
  width: 300px;
}
