/* -------------------------------- *\
    #NAVIGATION
\* -------------------------------- */

.nav {

}

.nav__bar {
	margin: 0;
  padding: 0;
  list-style: none;
}

.nav__element {
  display: inline-block;
	vertical-align: bottom;
}

.nav__link {
	color: inherit;
	display: block;
	padding: 20px;
	text-decoration: none;
}

.nav__element:first-child > .nav__link {
	padding-left: 0;
}

.nav__element:last-child > .nav__link {
	padding-right: 0;
}

.nav__link:hover {
	text-decoration: underline;
}
