/* -------------------------------- *\
    #REPORT
\* -------------------------------- */

.report {
  margin: 20px auto;
}

.report--summary {

}

.report--summary .column {
  cursor: pointer;
}
.report--summary .column:first-child {
  width: 150px;
}
.report--summary .column:nth-child(2) {
  width: 200px;
}
.report--summary .column:nth-child(3) {
  width: 200px;
}
.report--summary .column--offset {
  text-align: right;
}

.report--detail {

}

.report--detail .column:first-child {
  width: 200px;
}
.report--detail .column:nth-child(2) {
  width: 200px;
}
.report--detail .column:nth-child(3) {
  width: 200px;
}
.report--detail .column--offset {
  text-align: right;
}

.report--explore {

}

.report--explore .column {
  width: 300px;
}
.report--explore .column--offset {
  text-align: right;
}


.report__title {
  display: inline-block;
}
